.show-item {
  width: 165px;
  height: 340px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .review-stars {
    padding: 10px 0;

    .fa-star {
      color: #CBCBCB;
    }
  
    .checked {
      color: #878787;
    }
  }
}