.Home {

  .description {
    max-width: 900px;
    font-size: 30px;
    color: #8B8B8B
  }

  .show-content {
    padding-top: 130px;

    .show-list {
      padding-top: 40px;
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
    }
  }
}